# See Bootstrap's own list: https://github.com/twbs/bootstrap/blob/v5.3.6/.browserslistrc

>= 0.5%
last 2 major versions
not dead
Chrome >= 100
Firefox >= 115 # Firefox ESR for Windows 7
Firefox ESR
iOS >= 17
Safari >= 17
not Explorer <= 11
not kaios <= 2.5 # fix floating label issues in Firefox (see https://github.com/postcss/autoprefixer/issues/1533)
