stages:
    - build
    - test_js
    - test_php

.php_image:
    image: php:8.4.14-alpine

.node_image:
    image: node:22

npm:
    extends: .node_image
    stage: build
    cache:
        key: nodejs
        paths:
            - node_modules/
    artifacts:
        paths:
            - node_modules/
    script:
        - npm ci

composer:
    extends: .php_image
    stage: build
    cache:
        key: php
        paths:
            - vendor/
    artifacts:
        paths:
            - vendor/
            - .env
    script:
        - curl https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin --filename=composer
        - composer install --no-progress --ignore-platform-req=ext-intl

        - cp .env.testing .env
        - php artisan key:generate

lint:
    extends: .node_image
    stage: test_js
    needs:
        - npm
    script:
        - npm run tsc -- --build
        - npm run lint
        - npm test
        - npm run prettier -- --check

webpack:
    extends: .node_image
    stage: test_js
    needs:
        - npm
    artifacts:
        paths:
            - public/build/
            - public/mix-manifest.json
    script:
        - npm run production

phpunit:
    extends: .php_image
    stage: test_php
    services:
        - mariadb:12.0.2
    variables:
        # from .env.testing, needs to be here to initialize MariaDB container
        MYSQL_DATABASE: ricochetlevels_test
        MYSQL_USER: ricochetlevels_test
        MYSQL_PASSWORD: '123'
        MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
    before_script:
        - apk update && apk upgrade
        - apk add --no-cache git icu-dev
        - docker-php-ext-install intl pdo_mysql
    script:
        - php artisan migrate
        - php ./vendor/bin/phpunit
    needs:
        - composer

pint:
    extends: .php_image
    stage: test_php
    script:
        - php ./vendor/bin/pint --test
    needs:
        - composer

phpstan:
    extends: .php_image
    stage: test_php
    script:
        - php ./vendor/bin/phpstan analyse --memory-limit=256M
    needs:
        - composer
