/node_modules
/vendor

/public/hot
/public/storage
/storage/*.key
.env
.env.backup

.idea

.phpunit.cache
.phpunit.result.cache
npm-debug.log

/resources/mix-manifest.json
/public/build

deployer/hosts.yml
deployer/sentry.config.php
