<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude(['bootstrap/cache', 'public', 'storage'])
    ->notPath('_ide_helper.php')
    ->notPath('.phpstorm.meta.php')
    ->in(__DIR__);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'array_syntax' => ['syntax' => 'short'],
    ])
    ->setFinder($finder);
