{
    "$schema": "https://swc.rs/schema.json",
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "transform": {
            "react": {
                "runtime": "automatic",
                "importSource": "preact",
                "useBuiltins": true
            }
        },
        "externalHelpers": true
    },
    "env": {
        "targets": [
            // sync with .browserslistrc
            "> 0.5%",
            "last 2 versions",
            "Firefox ESR",
            "not dead",
            "Chrome >= 49",
            "Firefox >= 52"
        ]
    }
}
