services:
  php:
    build: ./docker/php
    volumes:
      - .:/var/ricochetuniverse

  # https://laravel.com/docs/12.x/queues#running-the-queue-worker
  queue:
    extends:
      service: php
    command: php artisan queue:listen redis
    depends_on:
      - mariadb
      - redis

  # https://laravel.com/docs/12.x/scheduling#running-the-scheduler-locally
  schedule:
    extends:
      service: php
    command: php artisan schedule:work
    depends_on:
      - mariadb
      - redis

  mariadb:
    image: mariadb:12.1.2
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mariadb_root_password
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    secrets:
      - mariadb_root_password
    volumes:
      - mariadb-data:/var/lib/mysql
    # uncomment for debugging
    ports:
      - '127.0.0.1:3306:3306'

  caddy:
    image: caddy:2.10.2-alpine
    environment:
      - CADDY_TLS_MODE
      - CADDY_TLS_EMAIL
      - CADDY_TLS_CERT
      - CADDY_TLS_KEY
    volumes:
      - .:/var/ricochetuniverse
      - ./docker/caddy/Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    ports:
      - '8000:8000'
      - '8000:8000/udp'
      - '8001:8001'
    depends_on:
      - php

  node:
    image: node:22
    volumes:
      - .:/var/ricochetuniverse
    working_dir: /var/ricochetuniverse

  redis:
    # match with https://packages.debian.org/trixie/valkey-server
    image: valkey/valkey:8.1.1-alpine
    # uncomment for debugging
    # ports:
    #   - '127.0.0.1:6379:6379'

volumes:
  mariadb-data:
  caddy-data:
  caddy-config:

secrets:
  mariadb_root_password:
    file: ./docker/secrets/mariadb_root_password.txt
