includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        # vendor code
        - '#Relation ''tagged'' is not found in App\\LevelSet model\.#'

        # temporary fix https://github.com/larastan/larastan/issues/2411
        - '#Call to an undefined method Illuminate\\Http\\Client\\Response::#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php

    checkAuthCallsWhenInRequestScope: true
    checkConfigTypes: true
    checkModelProperties: true
    checkOctaneCompatibility: true
    generalizeEnvReturnType: true
