.discordWidget__root {
    width: 100%;

    @include media-breakpoint-up(xl) {
        width: 260px; // default: 350
    }
}

.discordWidget__header {
    background: #5865f2;
    padding: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: 0;

    @include parent-hover-affects-btn();
}

.discordWidget__logo {
    background: url('discord_logo.svg') no-repeat;
    background-size: 124px 34px;
    width: 124px;
    height: 34px;

    display: block;
}
