http://ricochet.test:8000 {
    header / -Server

	header / {
    	X-Content-Type-Options nosniff
    	X-XSS-Protection 0
    	X-UA-Compatible "ie=edge"
    	X-Frame-Options DENY

		# `style-src: unsafe-inline` needed for Monaco editor
		# https://github.com/Microsoft/monaco-editor/issues/271

		Content-Security-Policy "default-src 'self';script-src 'self' https://www.google-analytics.com;img-src 'self' data: https://web.archive.org/web/20171205000449im_/http://www.ricochetInfinity.com/levels/ https://cdn.discordapp.com/avatars/ https://cdn.discordapp.com/embed/avatars/ https://www.google-analytics.com;style-src 'self' 'unsafe-inline';connect-src https://www.google-analytics.com https://discordapp.com/api/guilds/295184393109110785/widget.json;frame-src https://www.youtube.com/embed/;font-src 'none';frame-ancestors 'none';base-uri 'none';manifest-src 'none';media-src 'none';object-src 'none';worker-src 'none';block-all-mixed-content"
	}

	header /build/ Cache-Control "public, max-age=31536000, immutable"
	header /images/ Cache-Control "public, max-age=31536000"
	header /storage/round-images/ Cache-Control "public, max-age=86400"

	root /var/ricochetuniverse/public
	fastcgi / phpfpm:9000 php

	rewrite {
		if {dir}  not_starts_with "/storage/"
		if {file} not_has "#"
		to {path} {path}/ /index.php?{query}
	}

	gzip
	tls off

	log /var/ricochetuniverse/storage/logs/access.log
	errors /var/ricochetuniverse/storage/logs/error.log

	browse /storage/levels/
	header /storage/levels/ {
		Cache-Control "public, max-age=86400"
		Content-Security-Policy "default-src 'self';script-src 'self' 'unsafe-inline';style-src 'self' 'unsafe-inline';object-src 'none';block-all-mixed-content"
	}
}
