$body-bg: #000;
$body-color: #fff;

$primary: #00FFFE;
$secondary: #FFED11;

$font-family-sans-serif: Verdana, Arial, Helvetica, sans-serif;

$link-decoration: underline;
$link-hover-color: #fff;

$component-active-bg: #095352;

$card-border-color: #01FFFF;
$card-cap-bg: #095352;
$card-bg: $body-bg;

$table-border-color: #00eeff;
$table-head-bg: #004040;
$table-head-color: #fff;

$pagination-bg: $body-bg;
$pagination-border-color: $card-border-color;
$pagination-hover-bg: $component-active-bg;
$pagination-hover-border-color: $pagination-border-color;
$pagination-active-border-color: $pagination-border-color;
$pagination-disabled-color: #fff;
$pagination-disabled-bg: $component-active-bg;
$pagination-disabled-border-color: $pagination-border-color;

$tooltip-bg: $component-active-bg;

$modal-content-bg: #000;
$modal-content-border-color: $card-border-color;
$modal-header-border-color: $card-border-color;

$close-color: #fff;
$close-text-shadow: none;

$enable-rounded: false;
$enable-transitions: false;

@import '~bootstrap/scss/bootstrap';

body {
    background-image: url('./stars.jpg');
    cursor: default;
}

// Self-created utilities
.cursor-auto {
    cursor: auto;
}

.thead-clickable {
    th {
        padding: 0;
    }

    a {
        display: block;
        padding: $table-cell-padding;
    }
}

// Bootstrap
.btn {
    text-decoration: none;
}

.card-header {
    text-align: center;
    font-weight: bold;
}

.table {
    background: $body-bg;
}

.table thead {
    text-align: center;
}

.table-bordered thead th {
    border-bottom-width: 1px;
}

.page-item.disabled {
    opacity: .4;
}

.page-item.active .page-link {
    cursor: default;
}

.page-link {
    text-decoration: none;
}

.modal-header {
    background: $table-head-bg;
}

.modal-title {
    margin-left: auto;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

.tooltip-inner {
    box-shadow: 0 0 0 1px #000;

    &.text-nowrap {
        max-width: none;
    }
}

// Navbar
.navbar a {
    text-decoration: none;
}

.nav-link-discord > svg {
    width: 20px;
    fill: $navbar-dark-color;
}

.nav-link-discord:hover > svg {
    fill: #7289DA;
}

.nav-link-gitlab > svg {
    width: 20px;
    fill: $navbar-dark-color;
}

.nav-link-gitlab:hover > svg {
    fill: #E24329;
}

input.dropdown-item {
    cursor: pointer;
}

// Levels table
.levelsTable__ratingColumn {
    .levelsRatings__wrap {
        margin: 0 auto;
    }
}

// Levels rating
.levelsRatings__wrap {
    display: table;
}

.levelsRatings__row {
    display: table-row;
}

.levelsRatings__cell {
    display: table-cell;
    vertical-align: middle;

    padding-right: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 1);

    > img {
        display: block;
    }
}

// Level set info
.roundInfo__wrapper {
    margin: 0;
}

.roundInfo__link {
    padding-top: map-get($spacers, 2);
    padding-bottom: map-get($spacers, 2);
    text-decoration: none;
    text-align: center;

    @include make-col-ready();
    @include media-breakpoint-up(sm) {
        @include make-col(6);
    }
    @include media-breakpoint-up(md) {
        @include make-col(3);
    }
    @include media-breakpoint-up(lg) {
        @include make-col(2);
    }

    &:hover, &:active, &:focus {
        background: $component-active-bg;

        text-decoration: none;

        .btn-outline-primary {
            color: color-yiq($primary);
            background-color: $primary;
            border-color: $primary;
        }
    }
}

.roundInfo__image {
    display: block;
    margin: 0 auto map-get($spacers, 2);
}

.roundInfo__name {
    text-decoration: $link-decoration;
}

.roundInfo__author {
    color: #fff;
    display: block;
}

@supports (display: grid) {
    .roundInfo__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }

    .roundInfo__link {
        flex: auto;
        max-width: none;
    }
}

// Reviver page
.reviverPage__curl__video {
    max-width: 1052px;

    &::before {
        padding-top: percentage(698 / 1052);
    }
}

// About page
.aboutPage__columns {
    columns: 250px;
}
